<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>User Dashboard</title>

	<link rel="stylesheet" href="css/style.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

	<header>

		<nav class="navbar">

			<a href="index.html" class="logo">
				<i class="fa-solid fa-vote-yea"></i>
				<span>VOTE</span>
			</a>

			<ul class="nav-links">
				<li><a class="active">Welcome <span th:text="${user.name}"></span></a></li>
				<li><a th:href="@{/logout}" style="color:red">Logout</a></li>
			</ul>

		</nav>

	</header>

	<section class="user-section">

		<div class="user-container">

			<!-- USER DETAILS -->

			<div class="profile-card">

				<h2>User Details</h2>

				<div class="profile-top">

					<div class="avatar">
						<i class="fa-solid fa-user"></i>
					</div>

					<table>

						<tr>
							<td>Name</td>
							<td th:text="${user.name}"></td>
						</tr>

						<tr>
							<td>Email</td>
							<td th:text="${user.email}"></td>
						</tr>

						<tr>
							<td>Phone</td>
							<td th:text="${user.phoneno}"></td>
						</tr>

						<tr>
							<td>Status</td>
							<td>
								<div th:if=${user.status}>
									<h4 th:text="${user.status}" style="color:green"></h4>
								</div>
								<div th:unless=${user.status}>
									<h4 style="color:red">Not Voted</h4>
								</div>
							</td>
						</tr>

					</table>

				</div>

			</div>

			<!-- VOTING CARD -->
			<div th:replace="${content}">
					
				</div>
			
			
		</div>

	</section>

</body>

</html>